// ====== Constants ====== //

@background: #ffffff;
@header-background: #333366;
@footer-background: #efefef;
@keylines: #999999;

@briefingPaper: #333399;
@wms: #339933;
@proceeding: #993333;
@edm: #996633;
@paperLaid: #015a2d;


@padding-small: 10px;

@selector-width: 400px;
@gutter-width: 40px;
@margin-width: 20px;
@nonstage-width: (@selector-width + @gutter-width + 2 * @margin-width);

@stage-width-min: 500px;

// ====== Mixins ====== //

.with-background(@bg) when (lightness(@bg) >= 50%) {
    background-color: @bg;
    color: black;
}

.with-background(@bg) when (lightness(@bg) < 50%) {
    background-color: @bg;
    color: white;
}

.two-column-widths(@stage-width) {
    #all {
        width: @stage-width + @gutter-width + @selector-width;
        margin: 0 auto;

        #selection {
            width: @selector-width;
            float: left;
        }

        #stage {
            width: @stage-width;
            float: right;
        }
    }
}

.two-columns(@stage-min, @stage-max) {
    @media(min-width: (@stage-min + @nonstage-width)) and (max-width: (@stage-max + @nonstage-width)) {
        .two-column-widths(@stage-min);
    }
}

.clear-floats() {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

@media(max-width: (@nonstage-width + @stage-width-min)) {
    #all.topic-selected {
        #selection {
            display: none;
        }
        #stage {
            display: block;
        }
    }

    #all:not(.topic-selected) {
        #selection {
            display: block;
        }
        #stage {
            display: none;
        }
    }
}

@media(min-width: (@nonstage-width + @stage-width-min)) {
    #all {
        #selection {
            margin-top: 2.5em;
            width: @selector-width;
            position: fixed;
            overflow: scroll;
            left: 0px;
            top: 0px;
            bottom: 0px;
            padding: 0.5em;
        }
        #stage {
            padding-left: (@gutter-width + @selector-width);

            .change-topic-button {
                display: none;
            }
        }
    }
}



// ====== General layout ====== //

html, body {
    height: 100%;
}

body {
    .with-background(@background);
    font: 14px arial, helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header#main-header {
    margin: 0px;
    position: fixed;
    padding: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 9998;

    h1 {
        .with-background(@header-background);
        margin: 0px;
        padding: @padding-small;
        font-size: 1em;
    }
}


ul.toolbar {
    .clear-floats();

    position: fixed;
    top: 2.5em;
    width: 100%;
    padding: 0px;
    background-color: #333;
    border-top: 1px dotted #999;
    z-index: 9999;

    &, a {
        color: #fff;
    }

    &, & li {
        list-style-type: none;
        margin: 0px;
    }

    li {
        display: block;
        float: left;
        border-right: 1px dotted #999;

        a, label {
            display: block;
            padding: 6px;
            text-decoration: none;
        }
        a {
            &:hover, &:active, &:focus {
                background-color: #f93;
            }
        }
        input {
            &:hover, &:active, &:focus {
                border: 4px solid #f93;
                margin: -6px -6px -6px 0px;
            }
            margin: -2px -2px -2px 4px;
            padding: 2px;
            border: none;
        }
    }
}


footer#main-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: @padding-small;
    border-top: 1px solid @keylines;
    background-color: @footer-background;
    font-size: 80%;
}

#all {
    z-index: 0;
    margin-top: 3.5em;
    height: 100%;
}

#topic-view {
    margin: 5em 0.5em 3em;
}

.stage {
    height: 100%;
    padding-top: 1em;
}

.spinner {
    text-align: center;
    padding-top: 10em;
}

#container {
    height: 100%;
}

#loading {
    text-align: center;
    padding-top: 10em;
}

#network {
    height: 100%;
}

#nav-links {
    overflow: hidden;

    @number-of-links: 5;
    @link-spacing: 0%;

    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
        margin: 0px @link-spacing 0px 0px;
        padding: 0px;
        float: left;
        background-color: beige;
        position: relative;
        font-weight: bold;

        &:last-child {
            margin-right: 0px;
        }
        width: ((100% - (@number-of-links - 1) * @link-spacing) / @number-of-links);

        &.selected {
            img {
                opacity: 1;
                filter: grayscale(0%);
            }

            .nav-page-title {
                background-color: black;
                white-space: normal;
            }
        }

        img {
            width: 100%;
            display: block;
            opacity: 0.5;
            filter: grayscale(100%);
            margin-bottom: 2.2em;
        }

        .nav-page-title {
            padding: 0.5em;
            margin: 0em;
            background-color: #808080;
            color: white;
            position: absolute;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            bottom: 0px;
            left: 0px;
            right: 0px;
            line-height: 1.2em;
        }
    }
}

.feed {
    &, li {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    border: 1px solid #999;

    li {
        &:not(:last-child) {
            border-bottom: 1px dotted #999;
        }

        a.item-strapline {
            display: block;
            margin: 0.5em;
            text-decoration: none;
            position: relative;
            font-weight: bold;

            label {
                border-radius: 4px;
                padding: 2px 4px;
                max-width: 10em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
                position: absolute;
                font-size: 80%;

                &.item-date {
                    right: 0px;
                    top: 0px;
                }
            }

            .item-heading {
                margin: 4px 7em 4px 10em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
            }
        }

        .feed-labels(@label-color) {
            a.item-strapline label.item-type {
                .with-background(@label-color);
            }
        }

        &.briefingPaper { .feed-labels(@briefingPaper); }
        &.wms { .feed-labels(@wms); }
        &.proceeding { .feed-labels(@proceeding); }
        &.edm { .feed-labels(@edm); }
        &.paperLaid { .feed-labels(@paperLaid); }

        .feed-content {
            margin: 0.5em;
        }
    }
}


.vis.timeline {

    .color-code(@color) {
        background-color: lighten(@color, 50%);
        color: @color;
        border: 1px solid @color;
        box-shadow: 2px 2px 2px lighten(@color, 35%);
        border-radius: 6px;
    }

    .item.box {
        &.briefingPaper { .color-code(@briefingPaper); }
        &.wms { .color-code(@wms); }
        &.proceeding { .color-code(@proceeding); }
        &.edm { .color-code(@edm); }
        &.paperLaid { .color-code(@paperLaid); }
    }

    .event-title {
        font-weight: bold;
    }

    .event-meta {
        font-size: 80%;
        color: black;

        .event-date {
            font-style: italic;
        }
    }
}

button {
    float: right;
    border: 1px solid black;
    background-color: #99f;
    box-shadow: 2px 2px 2px #ccf;
    border-radius: 6px;
    padding: 6px;

    &:hover {
        .with-background(#339);
    }
}
