// ====== Constants ====== //

@background: #ffffff;
@header-background: #333366;
@footer-background: #efefef;
@keylines: #999999;

@padding-small: 10px;

@selector-width: 400px;
@gutter-width: 40px;
@margin-width: 20px;
@nonstage-width: (@selector-width + @gutter-width + 2 * @margin-width);

@stage-width-min: 500px;

// ====== Mixins ====== //

.with-background(@bg) when (lightness(@bg) >= 50%) {
    background-color: @bg;
    color: black;
}

.with-background(@bg) when (lightness(@bg) < 50%) {
    background-color: @bg;
    color: white;
}

.two-column-widths(@stage-width) {
    #all {
        width: @stage-width + @gutter-width + @selector-width;
        margin: 0 auto;

        #selection {
            width: @selector-width;
            float: left;
        }

        #stage {
            width: @stage-width;
            float: right;
        }
    }
}

.two-columns(@stage-min, @stage-max) {
    @media(min-width: (@stage-min + @nonstage-width)) and (max-width: (@stage-max + @nonstage-width)) {
        .two-column-widths(@stage-min);
    }
}


@media(max-width: (@nonstage-width + @stage-width-min)) {
    #all.topic-selected {
        #selection {
            display: none;
        }
        #stage {
            display: block;
        }
    }

    #all:not(.topic-selected) {
        #selection {
            display: block;
        }
        #stage {
            display: none;
        }
    }
}

@media(min-width: (@nonstage-width + @stage-width-min)) {
    #all {
        #selection {
            margin-top: 5.5em;
            padding-top: 10%;
            width: @selector-width;
            position: fixed;
            overflow: scroll;
            left: 0px;
            top: 0px;
            bottom: 0px;
        }
        #stage {
            padding-left: (@gutter-width + @selector-width);

            .change-topic-button {
                display: none;
            }
        }
    }
}



// ====== General layout ====== //

body {
    .with-background(@background);
    font: 14px arial, helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header#main-header {
    margin: 0px;
    position: fixed;
    padding: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 9999;

    h1 {
        .with-background(@header-background);
        margin: 0px;
        padding: @padding-small;
        font-size: 1em;
    }
}

#stage {
  margin: 0 1em 3.5em;
}

footer#main-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: @padding-small;
    border-top: 1px solid @keylines;
    background-color: @footer-background;
    font-size: 80%;
}

#all {
    z-index: 0;
    margin-top: 5.5em;
    padding-top: 10%;
}

.spinner {
    text-align: center;
    padding-top: 10em;
}


#loading {
    text-align: center;
    padding-top: 10em;
}

#nav-links {
    overflow: hidden;

    @number-of-links: 5;
    @link-spacing: 0%;

    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
        margin: 0px @link-spacing 0px 0px;
        padding: 0px;
        float: left;
        background-color: beige;
        position: relative;
        font-weight: bold;

        &:last-child {
            margin-right: 0px;
        }
        width: ((100% - (@number-of-links - 1) * @link-spacing) / @number-of-links);

        &.selected {
            img {
                opacity: 1;
                filter: grayscale(0%);
            }

            .nav-page-title {
                background-color: black;
                white-space: normal;
            }
        }

        img {
            width: 100%;
            display: block;
            opacity: 0.5;
            filter: grayscale(100%);
            margin-bottom: 2.2em;
        }

        .nav-page-title {
            padding: 0.5em;
            margin: 0em;
            background-color: #808080;
            color: white;
            position: absolute;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            bottom: 0px;
            left: 0px;
            right: 0px;
            line-height: 1.2em;
        }
    }
}

.change-topic-button {
    border: 1px solid #999999;
    border-radius: 8px;
    padding: 4px;
    margin-left: 1em;
    background-color: #333399;
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    vertical-align: 6px;
    float: right;

    &:hover {
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
        background-color: #3399ff;
    }
}

.feed {
    &, li {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    border: 1px solid #999;

    li {
        &:not(:last-child) {
            border-bottom: 1px dotted #999;
        }

        a.item-strapline {
            display: block;
            margin: 0.5em;
            text-decoration: none;
            position: relative;
            font-weight: bold;

            label {
                border-radius: 4px;
                padding: 2px 4px;
                max-width: 10em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
                position: absolute;
                font-size: 80%;

                &.item-date {
                    right: 0px;
                    top: 0px;
                }
            }

            .item-heading {
                margin: 4px 7em 4px 10em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
            }
        }

        .feed-labels(@label-color) {
            a.item-strapline label.item-type {
                .with-background(@label-color);
            }
        }

        &.ResearchBriefing { .feed-labels(#333399); }
        &.WrittenMinisterialStatement { .feed-labels(#339933); }
        &.Proceeding { .feed-labels(#993333); }
        &.EarlyDayMotion { .feed-labels(#996633); }
        &.HouseOfCommonsPaper { .feed-labels(#015a2d); }

        .feed-content {
            margin: 0.5em;
        }
    }
}
