.vis.timeline {

    .color-code(@color) {
        background-color: lighten(@color, 30%);
        color: @color;
        border: 1px solid @color;
        box-shadow: 2px 2px 2px lighten(@color, 25%);
        border-radius: 6px;
    }

    .item.box {
        &.briefingPaper { .color-code(@briefingPaper); }
        &.wms { .color-code(@wms); }
        &.proceedings-debate { .color-code(@proceedings-debate); }
        &.proceedings-statement { .color-code(@proceedings-statement); }
        &.proceedings-question { .color-code(@proceedings-question); }
        &.edm { .color-code(@edm); }
        &.paperLaid { .color-code(@paperLaid); }
        &.select-committee-report { .color-code(@select-committee-report); }
    }

    .event-title {
        font-weight: bold;
    }

    .event-meta {
        font-size: 80%;
        color: black;

        .event-date {
            font-style: italic;
        }
    }

    &.root{
        border: 0px none !important;
    }

    .bar{
        stroke-width: 0px !important;
        cursor:pointer;
        &:hover {
            fill-opacity: 0.8 !important;
        }
    }
}

.grid.minor, .grid.major{
    border-color:transparent !important;
}

.dataaxis rect{
    display: none !important;
}
