<div data-bind="graph2d: {
    groups: graphGroups,
    items: graphItems,
    options: {
        style: 'bar',
        barChart: {
            handleOverlap: 'stack',
            align: 'center'
        },
        drawPoints: false,
        dataAxis: {
            icons: true,
            showMinorLabels: false,
            customRange: {
                left: {
                    min: 0
                }
            }
        },
        legend: true,
        orientation: 'top',
        start: $parent.startDate(),
        end: $parent.endDate()
    }
}"></div>
