<div
    data-bind="timeline: {
        items: timeline,
        options: {}
    }"></div>

<p>
    Filter this topic:
    <select data-bind="
        options: itemTypes,
        optionsText: 'displayName',
        value: itemType,
        optionsCaption: 'Show everything'
    "></select>
</p>

<ul data-bind="foreach: filteredItems, scrollend: load" class="feed">
    <li data-bind="attr: { class: type.name }">
        <a href="#" data-bind="click: load" class="item-strapline">
            <label
                class="item-type"
                data-bind="text: type.displayName, attr: { title: type.displayName }">
            </label>
            <span data-bind="text: title" class="item-heading"></span>
            <label data-bind="text: date.toDateString()" class="item-date"></label>
        </a>
        <div class="feed-content" data-bind="if: content.visible">
            <h3 data-bind="text: content.heading"></h3>
            <div data-bind="html: content.html"></div>
            <!-- ko text: content.text --><!-- /ko -->
        </div>
    </li>
</ul>

<p data-bind="if: items().length == 0">
    No items have been found for the topic
    <!-- ko text: $parent.selectedTopicName --><!-- /ko -->.
</p>
