<ul data-bind="foreach: items, scrollend: load" class="feed">
    <li>
        <a href="#" data-bind="attr: { class: 'feed-label-' + type.name }">
            <label class="item-type" data-bind="text: type.displayName"></label>
            <span data-bind="text: title" class="item-heading"></span>
            <label data-bind="text: date.toDateString()" class="item-date"></label>
        </a>
    </li>
</ul>

<p data-bind="if: items().length == 0">
    No items have been found for the topic
    <!-- ko text: $parent.selectedTopicName --><!-- /ko -->.
</p>
