<div id="network"
    data-bind="network: {
        nodes: nodes(),
        edges: edges(),
        options: {
            edges: {
                style: 'arrow-center'
            },
            groups: {
                root: {
                    color: {
                        border: '#cc3333',
                        background: '#ff9999'
                    }
                },
                parent: {
                    shape: 'box',
                    color: {
                        border: '#3399ff',
                        background: '#99ccff'
                    }
                },
                leaf: {
                    shape: 'dot',
                    color: {
                        border: '#3399FF',
                        background: '#99ccff'
                    }
                }
            },
            stabilize: false,
            physics: {
                barnesHut: {
                    gravitationalConstant: -15000,
                    centralGravity: 3,
                    springLength: 250,
                    springConstant: 0.15,
                    damping: 2
                }
            },
            smoothCurves: false
        },
        events: {
            click: expandNode,
            doubleClick: selectNodes
        },
    }"></div>
