<div id="network"
    data-bind="network: {
        nodes: nodes,
        edges: edges,
        options: {
            groups: {
                level1: {
                    color: {
                        border: '#333333',
                        background: '#999999'
                    }
                },
                level2: {
                    shape: 'dot',
                    color: {
                        border: '#3399ff',
                        background: '#99ccff'
                    }
                },
                level3: {
                    shape: 'dot',
                    color: {
                        border: '#cc3333',
                        background: '#ff9999'
                    }
                }
            }
        }
    }"></div>
