<ul class="toolbar">
    <li>
        <strong data-bind="text: topic.name"></strong>
    </li>
    <li>
        <a href="#" data-bind="click: $root.goToTopicPicker">Change topic</a>
    </li>
    <li>
        <a href="#" data-bind="click: $root.showFilter">Filter</a>
    </li>
    <li>
        <label>
            From:
            <input type="date"
                data-bind="
                    datepicker: startDate,
                    datepickerOptions: {
                        dateFormat: 'yy-mm-dd'
                    }" />
        </label>
    </li>

    <li>
        <label>
            To:
            <input type="date"
                data-bind="
                    datepicker: endDate,
                    datepickerOptions: {
                        dateFormat: 'yy-mm-dd'
                    }" />
        </label>
    </li>
    <!-- ko foreach: views -->
    <li>
        <a href="#" data-bind="click: $parent.view, text: caption"></a>
    </li>
    <!-- /ko -->
</ul>

<div class="filter">
    <div class="filter-inner">
        <ul data-bind="foreach: sources">
            <li>
                <label>
                    <input type="checkbox" data-bind="checked: selected"></input>
                    <!-- ko text: title --><!-- /ko -->
                </label>
            </li>
        </ul>
    </div>
</div>

<div class="stage" data-bind="component: { name: 'components/' + view().name, params: $data }"></div>
