<ul class="toolbar">
    <li>
        <strong data-bind="text: topic.name"></strong>
    </li>
    <li>
        <a href="#" data-bind="click: $root.goToTopicPicker">Change topic</a>
    </li>
    <li>
        <a href="#" data-bind="click: showFilter">Filter</a>
    </li>
    <li>
        <label>
            From:
            <input type="date"
                data-bind="
                    datepicker: startDate,
                    datepickerOptions: {
                        dateFormat: 'yy-mm-dd'
                    }" />
        </label>
    </li>

    <li>
        <label>
            To:
            <input type="date"
                data-bind="
                    datepicker: endDate,
                    datepickerOptions: {
                        dateFormat: 'yy-mm-dd'
                    }" />
        </label>
    </li>
    <!-- ko foreach: views -->
    <li>
        <a href="#" data-bind="click: $parent.view, text: caption"></a>
    </li>
    <!-- /ko -->
</ul>

<div class="filter" data-bind="visible: filtering">
    <div class="filter-inner">
        <h3>Select topics to display</h3>
        <ul data-bind="foreach: sources">
            <li>
                <label>
                    <input type="checkbox" data-bind="checked: selected"></input>
                    <!-- ko text: title --><!-- /ko -->
                </label>
            </li>
        </ul>
        <p class="buttons">
            <span class="select">
                Select:
                <a href="#" data-bind="click: selectAllTypes">all</a>
                |
                <a href="#" data-bind="click: deselectAllTypes">none</a>
            </span>
            <button data-bind="click: closeFilter">OK</button>
        </p>
    </div>
</div>

<div class="stage" data-bind="component: { name: 'components/' + view().name, params: $data }"></div>
