<h1 data-bind="text: topic.name"></h1>

<ul class="toolbar">
    <li>
        <a href="#" data-bind="click: $root.goToTopicPicker">Change topic</a>
    </li>
    <li>
        <input type="date"
            data-bind="
                datepicker: startDate,
                datepickerOptions: {
                    dateFormat: 'yy-mm-dd'
                }" />
    </li>

    <li>
        <input type="date"
            data-bind="
                datepicker: endDate,
                datepickerOptions: {
                    dateFormat: 'yy-mm-dd'
                }" />
    </li>
    <!-- ko foreach: views -->
    <li>
        <a href="#" data-bind="click: $parent.view, text: caption"></a>
    </li>
    <!-- /ko -->
</ul>

<div class="feed-view" data-bind="component: { name: 'components/' + view().name, params: $data }">
</div>
